h1 {
 font-size: 36px;
 margin-bottom: 10px;
 color: greenyellow;
}
p {
 font-size: 18px;
 color: aqua;
}
table {
 border-collapse: collapse;
 width: 50%;
}
a {
 color: fuchsia;
}
th {
 background-color: fuchsia;
 color: white;
 padding: 8px;
 text-align: left;
}
td {
 border: 2px solid deeppink;
 padding: 8px;
}
